body {
  box-sizing: border-box;
}

body.modal-open {
  overflow-y: hidden;
  -webkit-overflow-scrolling: auto;
}

.modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-backdrop.has-animate {
  transition: opacity 0.15s linear;
  will-change: opacity;
  opacity: 0;
}

.modal-backdrop.has-animate.is-show {
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal *,
.modal *::before,
.modal *::after {
  box-sizing: border-box;
}

.modal.has-animate .modal__dialog {
  will-change: transform, opacity;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  transition: opacity 0.15s linear, -webkit-transform 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.15s linear, transform 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.15s linear, transform 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.modal.has-animate.is-show .modal__dialog {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

@media (min-width: 480px) {
  .modal__dialog {
    position: relative;
    max-width: 550px;
    width: 100%;
    margin: 30px auto;
    min-height: auto;
  }
  .modal__dialog--lg {
    max-width: 940px;
  }
  .modal__dialog.has-center {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 60px);
  }
  .modal__dialog.has-center::before {
    content: '';
    display: block;
    height: calc(100vh - 60px);
  }
}

.modal__content {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
}

@media (min-width: 480px) {
  .modal__content {
    position: relative;
    min-height: auto;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

.modal__header, .modal__body, .modal__footer {
  position: relative;
  padding: 15px;
}

.modal__header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__title {
  font-size: 20px;
  font-weight: 600;
}

.modal__close {
  margin-left: auto;
  padding: 0;
  border: 0;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity .25s ease;
}

.modal__close svg {
  display: block;
  width: 28px;
  height: 28px;
  stroke: currentColor;
  fill: none;
}

.modal__close:hover {
  opacity: 1;
}

