body {
  box-sizing: border-box;
  &.gmodal-open {
    overflow-y: hidden;
    -webkit-overflow-scrolling: auto;
  }
}

.gmodal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  background-color: rgba(#000, 0.3);
  &.has-animate {
    transition: opacity 0.15s linear;
    will-change: opacity;
    opacity: 0;
  }
  &.has-animate.is-shown {
    opacity: 1;
  }
}

.gmodal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  outline: 0;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  &.has-animate &__container {
    will-change: transform, opacity;
    opacity: 0;
    // transition: opacity 0.15s linear, transform 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s ease, opacity 0.15s linear;
    transform: scale(0.97);
  }

  &.has-animate.is-shown &__container {
    opacity: 1;
    transform: none;
  }

  &.is-hidden {
    z-index: -1 !important;
    visibility: hidden !important;
    pointer-events: none !important;
  }

  &__container {
    @media (min-width: 480px) {
      position: relative;
      max-width: 550px;
      width: 100%;
      min-height: auto;
      margin: 30px auto;
      padding-right: 15px;
      padding-left: 15px;
      &--lg {
        max-width: 940px;
      }
      &.has-center {
        display: flex;
        &::before {
          content: '';
          display: block;
          height: calc(100vh - 60px);
        }
        align-items: center;
        min-height: calc(100vh - 60px);
      }
    }
  }
  &__dialog {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    @media (min-width: 480px) {
      position: relative;
      min-height: auto;
      border-radius: 3px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }
  &__header,
  &__body,
  &__footer {
    position: relative;
    padding: 15px;
  }

  &__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(#000, 0.1);
  }

  &__footer {
    border-top: 1px solid rgba(#000, 0.1);
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
  }

  &__close {
    margin-left: auto;
    padding: 0;
    border: 0;
    background-color: transparent;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity .25s ease;

    svg {
      display: block;
      width: 28px;
      height: 28px;
      stroke: currentColor;
      fill: none;
    }
    &:hover {
      opacity: 1;
    }
  }
}
