*,
*::before,
*::after {
  box-sizing: border-box;
}


body.modal-open {
  overflow-y: hidden;
  -webkit-overflow-scrolling: auto;
}

.modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  background-color: rgba(#000, 0.3);
  &.has-animate {
    transition: opacity 0.15s linear;
    will-change: opacity;
    opacity: 0;
  }
  &.has-animate.is-show {
    opacity: 1;
  }
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  outline: 0;

  &.has-animate &__dialog {
    will-change: transform, opacity;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.15s ease, transform 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    // transition: transform 0.2s ease, opacity 0.15s linear;
    // transform: scale(0.95);
  }

  &.has-animate.is-show &__dialog {
    opacity: 1;
    transform: none;
  }

  &__dialog {
    @media (min-width: 480px) {
      position: relative;
      max-width: 550px;
      width: 100%;
      margin: 30px auto;
      min-height: auto;
      &--lg {
        max-width: 940px;
      }
      &.has-center {
        display: flex;
        &::before {
          content: '';
          display: block;
          height: calc(100vh - 60px);
        }
        align-items: center;
        min-height: calc(100vh - 60px);
      }
    }
  }
  &__content {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    @media (min-width: 480px) {
      position: relative;
      min-height: auto;
      border-radius: 3px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }
  &__header,
  &__body,
  &__footer {
    position: relative;
    padding: 15px;
  }

  &__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(#000, 0.1);
  }

  &__footer {
    border-top: 1px solid rgba(#000, 0.1);
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
  }

  &__close {
    margin-left: auto;
    padding: 0;
    border: 0;
    background-color: transparent;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity .25s ease;

    svg {
      display: block;
      width: 28px;
      height: 28px;
      stroke: currentColor;
      fill: none;
    }
    &:hover {
      opacity: 1;
    }
  }

  button {
    transition: 0.1s;
  }
}


// ::-webkit-scrollbar-track {
//   background-color: #ccc;
// }
// ::-webkit-scrollbar {
//     width: 10px
// }

// ::-webkit-scrollbar-thumb {
//     min-height: 35px;
//     background-clip: padding-box;
//     background-color: rgba(#333, .8);
//     border: 2px solid transparent;
//     border-radius: 10px
// }

// ::-webkit-scrollbar-thumb:hover {
//     background-color: rgba(red, .9);
// }
